/app/node_modules

/app/node_modules/**/*
/app/.expo/*
/app/npm-debug.*
/app/*.jks
/app/*.p8
/app/*.p12
/app/*.key
/app/*.mobileprovision
/app/*.orig.*
/app/web-build/

# macOS
.DS_Store
server/__pycache__
backend/env
server/node_modules